
.section {
    border-bottom: 5px solid #ffa94c;
}

/*#sec1 {
    border-bottom-style: none;
}*/

h3 {
    margin-top: 10px;
}

table {
    margin-bottom: 10px;
}

#srbimg {
    width: 100%;
    height: auto;
}

/*Desktop*/
@media screen and (min-width: 1920px) {

/*Pre-production*/
    .img_section {
        text-align: center;
    }
    #srb {
        text-align: center;
    }
    
    #srbimg {
        width: 75%;
        height: auto;  
    }
    
}
