
.section {
    border-bottom: 5px solid #ffa94c;
}

#sec1 {
    border-bottom-style: none;
}

#anatomy {
    width: 50%;
    height: 50%;
}

/*Desktop*/
@media screen and (min-width: 1920px) {

    /*Font vs typeface*/
    
    #fonttype {
        grid-area: ft;
        border-right-style: solid;
        border-color: #ffa94c;
    }
    
    #fvt {
        grid-area: fvt;
        border-right-style: solid;
        border-color: #ffa94c;
    }
    
    #weight {
        grid-area: weight; 
    }
    
    #weight_sec {
        grid-area: wsec;
    }
    
    #t_3 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "ft weight"
            "fvt wsec";
    }
    
    #sec3 .img_section {
        text-align: center;
    }
    
/*Begreber*/
    
    #anatomy {
        width: 105%;
        height: 105%;
    }
    
    #sec4 .img_section {
        text-align: center;
    }
    
    #sec4 h3 {
        margin-top: 10px;
        margin-left: 0px;
    }
    
}
