
.section {
    border-bottom: 5px solid #ffa94c;
}

/*#sec1 {
    border-bottom-style: none;
}*/

h3 {
    margin-top: 10px;
}

table {
    margin-bottom: 10px;
}

#sktimg {
    width: 50%;
    height: auto;
}

#refleksion {
    border-bottom-style: none;
}

/*Desktop*/
@media screen and (min-width: 1920px) {

    #oof_intro {
        grid-area: intro;
    }

    #skt {
        grid-area: skt;
        text-align: center;
    }
    
    #tools {
        grid-area: tools;
    }
    
    #oof_outro {
        grid-area: outro;
    }
    
    #plakat {
        grid-area: plakat;
    }
    
    #sktimg {
        width: 50%;
        height: auto;
    }
    
    #t_3 {
        display: grid;
        grid-template-areas:
            "intro skt"
            "intro skt"
            "tools skt"
            "outro skt";

    }
    
}
