
.section {
    border-bottom: 5px solid #ffa94c;
}

#list, #phone, #person {
    border-bottom: 5px dashed #ffa94c;
}

#refleksion {
    border-bottom-style: none;
}

/*Desktop*/
@media screen and (min-width: 1920px) {
    
    .img_section {
        text-align: center;
    }
    
    .button {
        width: 165px;
        grid-area: button;
    }
    
}
