
.section {
    border-bottom: 5px solid #ffa94c;
}

h3 {
    margin-top: 10px;
}

#iaimg {
    width: 55%;
}

#latch_cimg {
    width: 100%;
}

/*lego*/
    #farimg, #genimg, #højimg, #breimg, #topimg {
        width: 50%;
    }

#bogide {
    border-bottom: 5px dashed #ffa94c;
}

#refleksion {
    border-bottom-style: none;
}

/*Desktop*/
@media screen and (min-width: 1920px) {
    .img_section {
        text-align: center;
    }
    
    /*intro*/
    #iaimg {
        width: 45%;
        height: auto;
    }
    
    #ia {
        grid-area: img;
    }
    
    #intro {
        grid-area: intro;
    }
    
    #list {
        grid-area: list;
    }
    
    #outro {
        grid-area: outro;
    }
    
    #t_1 {
        display: grid;
        grid-template-areas: 
            "intro img"
            "list img"
            "outro img";
    }
    
    /*LATCH*/
    #latch_limg, #latch_aimg {
        width: 35%;
        height: auto;
    }
    
    #latch_cimg {
        width: 55%;
        height: auto;
    }
    
    /*lego*/
    #farimg, #genimg, #højimg, #breimg, #topimg {
        width: 45%;
    }
    
    #lego_intro {
        grid-area: lego_intro;
    }
    
    #far {
        grid-area: f;
    }
    
    #gen {
        grid-area: g;
    }
    
    #høj {
        grid-area: h;
    }
    
    #bre {
        grid-area: b;
    }
    
    #top {
        grid-area: t;
    }
    
    #t_3 {
        display: grid;
        grid-template-areas:
            "lego_intro lego_intro"
            "f g"
            "h b"
            "t .";
    }
    
}
