
.section {
    border-bottom: 5px solid #ffa94c;
}

h3 {
    margin-top: 10px;
}

table {
    margin-bottom: 10px;
}

#refleksion {
    border-bottom-style: none;
}

/*Desktop*/
@media screen and (min-width: 1920px) {

    .img_section {
        text-align: center;
    }
    
    /*Selectors*/
    #eksimg {
        width: 65%;
        height: auto;
    }
    
    #h3_1 {
        grid-area: h3_1;
    }
    
    #h3_2 {
        grid-area: h3_2;
    }
    
    #ds {
        grid-area: ds;
    }
    
    #ps {
        grid-area: ps;
    }
    
    #s_intro {
        grid-area: intro;
    }
    
    #ss {
        grid-area: ss;
    }
    
    #ps_text {
        grid-area: ps_text;
    }
    
    #button {
        grid-area: button;
    }
    
    #sekundær {
        display: grid;
        /*grid-template-columns: 1fr 2fr;*/
        grid-template-areas: 
            "intro intro"
            "h3_1 ."
            "ss ds"
            "h3_2 ."
            "ps_text ps"
            "button .";
    }
    
    .button {
        width: 165px;
        grid-area: button;
    }
}
